.form {
  display: none;
  background: #FAFAFA;
  border: 1px solid #eee;
  border-radius: 4px;
}

.form-content{
  width: 95%;
  margin: auto;
}

.form-title{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #757575;
}

.form-field{
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  color: #212121;
}

textarea {
  min-height: 100px;
}

.post-submit-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 18px;
  color: #FFF;
  background: #03A9F4;
  text-decoration: none;
  border-radius: 4px;
}

.schema {
  background-color: lightgray;
  padding: 10px;
  border-radius: .5em;
}

.userCaseAspects {
  background-color: #F18A87;  
  padding: 10px;
  border-radius: .5em;
  margin-top: 5px;
}

.genericPhysics {
  background-color: #4F81BD;
  padding: 10px;
  border-radius: .5em;
  margin-top: 5px;
}

.genericPhysics legend ,.genericPhysics label, .genericPhysics p, .genericPhysics div {
  color: white;
}

.solverSpecs {
  background-color: #339933;
  padding: 10px;
  border-radius: .5em;
  margin-top: 5px;
}

.solverSpecs legend ,.solverSpecs label, .solverSpecs p, .solverSpecs div {
  color: white;
}

.postProcessing {
  background-color: #CCFFCC;
  padding: 10px;
  border-radius: .5em;
  margin-top: 5px;
}

.dbUserCase {
  background-color: #FF8585;
  padding: 10px;
  border-radius: .5em;
  margin-top: 5px;
}

.theDatabasedModel {
  background-color: #FFFF99;
  padding: 10px;
  border-radius: .5em;
  margin-top: 5px;
}

.computationalDetails {
  background-color: #38AA3B;
  padding: 10px;
  border-radius: .5em;
  margin-top: 5px;
}

.computationalDetails legend ,.computationalDetails label, .computationalDetails p, .computationalDetails div {
  color: white;
}