footer{
  padding-top: 5px;
  text-align: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  background-color: #0160b2;
}

footer p{
  font-size: 14px;
  color: #FFF;
}

footer a{
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}

html {
  position: relative;
  min-height: 100%;
}

.container {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}