.header {
  background: #eee url('./header-bk.png') center;
  background-size: cover;
  border-bottom: 1px solid #ccc;
}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding-top: 12px;
  overflow: auto;
}

.site-title {
  margin-top: 0px;
  font-weight: 300;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.site-subtitle {
  display: block;
  font-size: 21px;
  color: white;
}

.site-logo {
  margin-right: 10px;
  height: 2em;
  /*display: inline;*/
  float: left;
}

.add-post-button {
  display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: right;
}

.selected {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px){
  .add-post-button{
    float: left;
    margin-top: 16px;
  }
}

.brand-image {
  height: 75px;
}

.user-info {
  display: inline-block;
  color: #FFF;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: right;
}